[Unit]
Description=MeshTAK Service
After=network.target

[Service]
Type=simple
User=tdcadmin
WorkingDirectory=/opt/meshtak
ExecStart=/opt/meshtak/venv/bin/python /opt/meshtak/meshtak.py
Restart=always

[Install]
WantedBy=multi-user.target
